<html>
    <head></head>
    <body>
        <div>
            <h1>GPS Info with trilateration</h1>
            <br> 
            <p><strong>Latitude:</strong> <span id="latitude"></span>, <strong>Longitude:</strong> <span id="longitude"></span></p>
            <p><strong>City:</strong> <span id="city"></span></p>
            <p><strong>Village:</strong> <span id="village"></span></p>
            <p><strong>Subdistrict:</strong> <span id="subdistrict"></span></p>
            <p><strong>District:</strong> <span id="district"></span></p>
            <p><strong>State:</strong> <span id="state"></span></p>
            <p><strong>Country:</strong> <span id="country"></span></p>
        </div>
        
    </body>
</html>