<html>
  <head></head>
  <body>
    <br />
    <div class="info">
      <h1>City Data</h1>
      <ul>
        <li><strong>Name: </strong><span id="city-name"></span></li>
        <li><strong>Latitude: </strong><span id="latitude"></span></li>
        <li><strong>Longitude: </strong><span id="longitude"></span></li>
        <li><strong>Airport Name: </strong><span id="airport-name"></span></li>
        <li><strong>Airport Delay: </strong><span id="airport-delay"></span></li>
        <li>
          <strong>Airport IATA Code: </strong><span id="airport-IATA"></span>
        </li>
        <li><strong>Traveled City: </strong><span id="traveled-city"></span></li>
        <li>
          <strong>Distance to Traveled City: </strong><span id="distance-to-traveled-city"></span>
        </li>
        <li>
          <strong>Time to Traveled City: </strong><span id="time-to-traveled-city"></span>
        </li>
        <li>
          <strong>Time Delay to Traveled City: </strong><span id="time-delay-to-traveled-city"></span>
        </li>
      </ul>
   </div>
  </body>
</html>
